{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Code Review Assistant</title>

    <link rel="stylesheet" href="{% static 'reviews/css/style.css' %}">
</head>
<body>

<div class="container">

    <div class="icon">🤖</div>

    <h1>AI Code Review Assistant</h1>

    <p class="subtitle">
        Intelligent Code Analysis using
        <strong>Django</strong>,
        <strong>Django REST Framework</strong>,
        <strong>Google Gemini AI</strong> &
        <strong>PostgreSQL</strong>
    </p>

    <div class="buttons">
        <a href="/swagger/" target="_blank">Swagger</a>

        <a href="/redoc/" target="_blank">ReDoc</a>

        <a href="https://github.com/tanvi259/AI-Code-Review-Assistant"
           target="_blank">
            GitHub
        </a>
    </div>

    <footer>
        Built by <strong>Tanvi</strong>
    </footer>

</div>

</body>
</html>