*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial, Helvetica, sans-serif;

    background:#eef3f8;

}

.container{

    width:70%;

    margin:70px auto;

    background:white;

    padding:45px;

    border-radius:12px;

    text-align:center;

    box-shadow:0px 0px 18px rgba(0,0,0,0.1);

}

h1{

    color:#1d4ed8;

    margin-bottom:20px;

}

.description{

    color:#555;

    line-height:1.8;

    margin-bottom:35px;

}

.links{

    display:flex;

    justify-content:center;

    gap:20px;

    flex-wrap:wrap;

}

.links a{

    background:#2563eb;

    color:white;

    text-decoration:none;

    padding:12px 22px;

    border-radius:8px;

    transition:.3s;

}

.links a:hover{

    background:#1e40af;

}

.note{

    margin-top:25px;

    color:#777;

    font-size:14px;

}

footer{

    margin-top:40px;

    color:gray;

    font-size:14px;

}