*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:linear-gradient(135deg,#eef4ff,#dfefff);
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{

    background:white;
    width:90%;
    max-width:700px;

    padding:45px;

    text-align:center;

    border-radius:15px;

    box-shadow:0 10px 25px rgba(0,0,0,.15);
}

.icon{

    font-size:70px;

    margin-bottom:15px;
}

h1{

    color:#1e3a8a;

    margin-bottom:20px;
}

.subtitle{

    color:#555;

    line-height:1.7;

    margin-bottom:35px;

    font-size:17px;
}

.buttons a{

    text-decoration:none;

    background:#2563eb;

    color:white;

    padding:14px 24px;

    border-radius:8px;

    margin:8px;

    display:inline-block;

    font-weight:bold;

    transition:.3s;
}

.buttons a:hover{

    background:#1d4ed8;

    transform:translateY(-3px);
}

footer{

    margin-top:35px;

    color:#666;

    font-size:14px;
}